/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

body * {
  font-family: "raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey-tint-2: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

.neutral-star {
  color: var(--main-bg-color);
}

.fa-location-dot {
  color: black;
}

.fa-magnifying-glass {
  color: white;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-container main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.card {
  background-color: white;
  display: flex;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin: 0;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.txt-inter {
  font-weight: 700;
  font-size: 18px;
}

button {
  background-color: transparent;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/***** header *****/
header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

header img {
  height: 20px;
  padding: 30px 0;
}

header nav {
  display: flex;
  align-items: flex-start;
}

header ul {
  display: flex;
  gap: 60px;
}

header li {
  padding-top: 15px;
  border-top: 2px solid white;
}

header li:hover {
  color: var(--main-color);
  border-top: var(--main-color) solid 2px;
  cursor: pointer;
}

header a:hover {
  color: var(--main-color);
}

/****** infos-group *****/

.infos-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.search {
  display: flex;
}

.btn-logo {
  display: none;
}

.formulaire label {
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.champ {
  border: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.formulaire button {
  padding: 15px;
  border-radius: 0 15px 15px 0;
  color: white;
  border: none;
  background-color: var(--main-color);
}

/***** Filtres *****/
.filtre {
  display: flex;
  align-items: center;
  gap: 15px;
}

.four-filtre {
  display: flex;
  gap: 15px;
}

.button-filtre {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 25px;
  border: 2px solid var(--grey-tint-2);
}

.four-filtre button:hover {
  background-color: var(--filter-bg-color);
}

/***** infos-barre *****/
.infos-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infos-bar i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--grey-tint-2) solid;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.hebergements .card {
  flex-direction: column;
  margin: 0;
  gap: 4px;
}

.hebergements a {
  width: 30%;
}

.hebergements-cards img {
  border-radius: 20px 20px 0 0;
  height: 114px;
  padding: 5px;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px 15px 15px;
}

.hebergements-cards .card-title {
  margin: 0;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires .card {
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Activités *****/

.activites {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.activites-cards img {
  border-radius: 20px 20px 0 0;
  height: 380px;
  width: 100%;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.activites-cards .card {
  flex-direction: column;
  height: 100%;
}

.activites-cards a {
  width: 25%;
}

.activites-cards .card-content {
  padding: 20px;
}

/***** footer *****/

.footer {
  display: flex;
  background-color: var(--main-bg-color);
}

.footer-liste {
  width: 33%;
  padding: 20px;
}

.footer-liste ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /***** infos group *****/

  .filtre {
    flex-direction: column;
    align-items: flex-start;
  }

  /***** hebergement et populaire *****/

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  /***** activités *****/

  .activites-cards img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  /***** header *****/

  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    height: 20px;
    object-fit: cover;
    padding: 30px;
  }

  header ul {
    gap: 0;
  }

  header li {
    padding: 0 30px 15px 30px;
    border-bottom: var(--main-bg-color) solid 2px;
  }

  header li:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 2px;
    border-top: none;
  }
  /***** infos goupe *****/

  .infos-group {
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  /***** formulaire de recherche *****/

  .search button {
    border-radius: 15px;
  }

  .formulaire form {
    width: 100%;
  }

  .btn-logo {
    display: inline;
  }

  .btn-txt {
    display: none;
  }

  /***** filtres *****/

  .four-filtre {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .button-filtre {
    width: 48%;
    font-size: 14px;
  }

  /***** popualire et hebergements *****/

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 20px;
  }

  .hebergements-and-populaires a {
    width: 100%;
  }
  /***** populaires *****/

  .populaires {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .populaires .card {
    margin: 0;
  }

  /***** hebergements *****/

  .hebergements {
    background-color: white;
    gap: 15px;
  }

  /***** Activités *****/

  .activites-cards {
    flex-direction: column;
  }

  .activites a {
    width: 100%;
  }

  .activites img {
    height: 140px;
  }

  /***** footer *****/

  footer {
    flex-direction: column;
  }

  .footer-liste {
    width: 100%;
  }
}
